<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="CustomerConfig" type="KJFramework.Configurations.CustomerConfig, KJFramework"/>
  </configSections>
  <CustomerConfig>
    <Service>
      <Infomation Name="动态服务部署节点" ServiceName="Dynamic Service Deploy Node" Description="用于在指定被控主机的范围内部署动态服务" Version="1.0.0.0"/>
    </Service>
    <Logger>
      <ConfigurationSettings LogPath="D:\Logs\DSN\"/>
    </Logger>
    <System>
      <!--系统编码器-->
      <Encoder Id="Default" Num="65001"/>
    </System>
    <KJFramework>
      <!--KJFramework.ServiceModel配置节， 提供了相关的基础配置-->
      <KJFramework.ServiceModel
        MaxDataChunkLength="409600"
        RecvBufferSize="409600"
        RequestCenterWaitObjectPoolCount="10"
        RequestMessageTaskBoxObjectPoolCount="10"
        RequestServiceMessagePoolCount="10"
        ResponseServiceMessagePoolCount="10"
        ServiceCallContextPoolCount="10"
        ServiceReturnValuePoolCount="10"
        ServiceProviderObjectPoolCount="10"
        BoxThreadCount="1"
        AllowClientCache="false"/>
      <!--KJFramework 网络层配置文件，提供了相关的基础配置，请不要擅自修改。-->
      <KJFramework.Net
          BufferSize="4096"
          BufferPoolSize="4096"
          MessageHeaderLength="80"
          MessageHeaderFlag="#KJMS"
          MessageHeaderFlagLength="5"
          MessageHeaderEndFlag="€"
          MessageHeaderEndFlagLength="1"
          MessageDealerFolder="D:\Dealers\"
          MessageHookFolder="D:\Hooks\"
          SpyFolder="D:\Spys\"
          BasicSessionStringTemplate="BASE-KEY:{USERID:{0}}-TIME:{1}"
          UserHreatCheckTimeSpan="10000"
          UserHreatTimeout="15000"
          UserHreatAlertCount="3"
          FSHreatCheckTimeSpan="10000"
          FSHreatTimeout="15000"
          FSHreatAlertCount="3"
          SessionExpireCheckTimeSpan="5000"
          DefaultConnectionPoolConnectCount="1024"
          PredominantCpuUsage="10"
          PredominantMemoryUsage="150"
          DefaultChannelGroupLayer="3"
          DefaultDecleardSize="20"/>
      <!--KJFramework新部署平台DSN的配置节，提供了相关的基础配置，请不要擅自修改。-->
      <KJFramework.Platform.Deploy.DSN HostPort="11007" CenterAddress="127.0.0.1" CenterPort="11005"
         RegistTimeout="5000" HeartBeatInterval="5000" ReconnectTimeout="10000" ManageDir="D:\"
         SaveDir="D:\DSN-TempFiles\"/>
    </KJFramework>
  </CustomerConfig>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
