<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="CustomerConfig" type="KJFramework.Configurations.CustomerConfig, KJFramework"/>
  </configSections>
  <CustomerConfig>
    <Logger>
      <ConfigurationSettings LogPath="D:\Logs\SyncDataFramework-BaseLayer\"/>
    </Logger>
    <Tracing>
      <TracingItem Level="0" Provider="file" Datasource="D:\Logs\SyncDataFramework-Business\" ></TracingItem>
    </Tracing>
    <System>
      <!--系统编码器-->
      <Encoder Id="Default" Num="65001"/>
    </System>
    <KJFramework>
      <!--KJFramework 网络层配置文件，提供了相关的基础配置，请不要擅自修改。-->
      <KJFramework.Net
          BufferSize="10240"
          BufferPoolSize="4096"
          MessageHeaderLength="80"
          MessageHeaderFlag="#KJMS"
          MessageHeaderFlagLength="5"
          MessageHeaderEndFlag="€"
          MessageHeaderEndFlagLength="1"
          MessageDealerFolder="D:\Dealers\"
          MessageHookFolder="D:\Hooks\"
          SpyFolder="D:\Spys\"
          BasicSessionStringTemplate="BASE-KEY:{USERID:{0}}-TIME:{1}"
          UserHreatCheckTimeSpan="10000"
          UserHreatTimeout="15000"
          UserHreatAlertCount="3"
          FSHreatCheckTimeSpan="10000"
          FSHreatTimeout="15000"
          FSHreatAlertCount="3"
          SessionExpireCheckTimeSpan="5000"
          DefaultConnectionPoolConnectCount="1024"
          PredominantCpuUsage="10"
          PredominantMemoryUsage="150"
          DefaultChannelGroupLayer="3"
          DefaultDecleardSize="20"/>
      <!--
      KJFramework.ServiceModel配置节， 提供了相关的基础配置
          #RecvBufferSize: 传输通道缓冲区大小
          #AsyncStubPoolSize: 底层SocketAsyncEventArgs缓存个数
          #MaxMessageDataLength: 最大消息包长度, 如果超过此长度则进行分包处理
      -->
     <KJFramework.Net.Channels 
        RecvBufferSize="4096"
        BuffStubPoolSize="2000"
        NoBuffStubPoolSize="200000"
        MaxMessageDataLength="5120"
        SegmentSize="1024"
        SegmentBuffer="10240000"/>
      <!--
      KJFramework.Data.Synchronization 配置节， 提供了相关的基础配置
          #TranTimeout: 事务超时时间
          #TranChkInterval: 事务检查时间间隔
      -->
      <KJFramework.Data.Synchronization TranTimeout="00:00:30" TranChkInterval="25000"/>
    </KJFramework>
  </CustomerConfig>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <runtime>
    <legacyUnhandledExceptionPolicy enabled="true"/>
  </runtime>
</configuration>
