<?xml version="1.0" encoding="utf-8" ?>
<!--KJFramework框架网络层配置文件 版本号：1.0.0.0-->
<configuration>
  <configSections>
    <section name="CustomerConfig" type="KJFramework.Configurations.CustomerConfig, KJFramework"/>
  </configSections>
  <CustomerConfig>
    <KJFramework>
      <!--KJFramework 网络层配置文件，提供了相关的基础配置，请不要擅自修改。-->
      <KJFramework.Net
          BufferSize="4096"
          BufferPoolSize="4096"
          MessageHeaderLength="80"
          MessageHeaderFlag="#KJMS"
          MessageHeaderFlagLength="5"
          MessageHeaderEndFlag="€"
          MessageHeaderEndFlagLength="1"
          MessageDealerFolder="D:\Dealers\"
          MessageHookFolder="D:\Hooks\"
          SpyFolder="D:\Spys\"
          BasicSessionStringTemplate="BASE-KEY:{USERID:{0}}-TIME:{1}"
          UserHreatCheckTimeSpan="10000"
          UserHreatTimeout="15000"
          UserHreatAlertCount="3"
          FSHreatCheckTimeSpan="10000"
          FSHreatTimeout="15000"
          FSHreatAlertCount="3"
          SessionExpireCheckTimeSpan="5000"
          DefaultConnectionPoolConnectCount="1024"
          PredominantCpuUsage="10"
          PredominantMemoryUsage="150"
          DefaultChannelGroupLayer="3"
          DefaultDecleardSize="20"/>
    </KJFramework>
  </CustomerConfig>
</configuration>