<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="CustomerConfig" type="KJFramework.Configurations.CustomerConfig, KJFramework"/>
  </configSections>
  <CustomerConfig>
    <Logger>
      <ConfigurationSettings LogPath="D:\Logs\"/>
    </Logger>
    <Connections>
      <Conn Address="127.0.0.1" Port="8888"/>
      <Settings>
        <Set ab="ab1" cd="cd"/>
        <Set ab="ab2" cd="cd"/>
        <Set ab="ab3" cd="cd"/>
        <Set ab="ab4" cd="cd"/>
        <Set ab="ab5" cd="cd"/>
        <Set ab="ab6" cd="cd"/>
        <Set ab="ab7" cd="cd"/>
        <Set ab="ab8" cd="cd"/>
      </Settings>
      <Addresses>
        <Address Ip="127.0.0.1" Port="8188"/>
        <Address Ip="127.0.0.2" Port="8288"/>
        <Address Ip="127.0.0.3" Port="8388"/>
        <Address Ip="127.0.0.4" Port="8488"/>
      </Addresses>
    </Connections>
  </CustomerConfig>
</configuration>