<?xml version="1.0"?>
<configuration> 
  <configSections>
    <section name="CustomerConfig" type="KJFramework.Configurations.CustomerConfig, KJFramework"/>
  </configSections>
  <CustomerConfig>
    <Tracing>
      <TracingItem Level="0" Provider="file" Datasource="D:\Logs\db4o-UniteTest\" ></TracingItem>
    </Tracing>
    <System>
      <!--系统编码器-->
      <Encoder Id="Default" Num="65001"/>
    </System>
    <KJFramework>
      <!--KJFramework 网络层配置文件，提供了相关的基础配置，请不要擅自修改。-->
      <KJFramework.Net
          BufferSize="10240"
          BufferPoolSize="4096"
          MessageHeaderLength="80"
          MessageHeaderFlag="#KJMS"
          MessageHeaderFlagLength="5"
          MessageHeaderEndFlag="€"
          MessageHeaderEndFlagLength="1"
          MessageDealerFolder="D:\Dealers\"
          MessageHookFolder="D:\Hooks\"
          SpyFolder="D:\Spys\"
          BasicSessionStringTemplate="BASE-KEY:{USERID:{0}}-TIME:{1}"
          UserHreatCheckTimeSpan="10000"
          UserHreatTimeout="15000"
          UserHreatAlertCount="3"
          FSHreatCheckTimeSpan="10000"
          FSHreatTimeout="15000"
          FSHreatAlertCount="3"
          SessionExpireCheckTimeSpan="5000"
          DefaultConnectionPoolConnectCount="1024"
          PredominantCpuUsage="10"
          PredominantMemoryUsage="150"
          DefaultChannelGroupLayer="3"
          DefaultDecleardSize="20"/>
      <KJFramework.Net.Channels
        RecvBufferSize="20480"
        BuffStubPoolSize="1000"
        NoBuffStubPoolSize="100000"
        MaxMessageDataLength="19456"
        SegmentSize="5120"
        SegmentBuffer="10240000"/>
    </KJFramework>
  </CustomerConfig>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <legacyUnhandledExceptionPolicy enabled="true"/>
  </runtime>
</configuration>
