<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Name" value="xxxx"/>
    <add key="ServiceName" value="xxxx"/>
    <add key="Description" value="xxxx"/>
    <add key="Version" value="1.0.0.0"/>
    <add key="CSN" value="127.0.0.1:11010"/>
    <add key="Environment" value="Dev"/>
    <add key="Tracing-Level" value="0"/>
    <add key="Tracing-Provider" value="file"/>
    <add key="Tracing-Datasource" value="E:\Logs\KJFramework.ApplicationEngine.ApplicationTest\"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <legacyUnhandledExceptionPolicy enabled="true"/>
  </runtime>
</configuration>









<!--<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="CustomerConfig" type="KJFramework.Configurations.CustomerConfig, KJFramework"/>
  </configSections>
  <appSettings>
    <add key="Tracing-Level" value="0"/>
    <add key="Tracing-Provider" value="file"/>
    <add key="Tracing-Datasource" value="E:\Logs\KJFramework.ApplicationEngine.ApplicationTest\"/>
  </appSettings>
  <CustomerConfig>
    <Tracing>
      <TracingItem Level="0" Provider="file" Datasource="E:\Logs\KJFramework.ApplicationEngine.ApplicationTest\" ></TracingItem>
    </Tracing>
    <KJFramework>
      --><!--KJFramework 网络层配置文件，提供了相关的基础配置，请不要擅自修改。--><!--
      <KJFramework.Net
          BufferSize="10240"
          BufferPoolSize="4096"
          MessageHeaderLength="80"
          MessageHeaderFlag="#KJMS"
          MessageHeaderFlagLength="5"
          MessageHeaderEndFlag="€"
          MessageHeaderEndFlagLength="1"
          MessageDealerFolder="D:\Dealers\"
          MessageHookFolder="D:\Hooks\"
          SpyFolder="D:\Spys\"
          BasicSessionStringTemplate="BASE-KEY:{USERID:{0}}-TIME:{1}"
          UserHreatCheckTimeSpan="10000"
          UserHreatTimeout="15000"
          UserHreatAlertCount="3"
          FSHreatCheckTimeSpan="10000"
          FSHreatTimeout="15000"
          FSHreatAlertCount="3"
          SessionExpireCheckTimeSpan="5000"
          DefaultConnectionPoolConnectCount="1024"
          PredominantCpuUsage="10"
          PredominantMemoryUsage="150"
          DefaultChannelGroupLayer="3"
          DefaultDecleardSize="20"/>
      <KJFramework.Net.Channels
        RecvBufferSize="20480"
        BuffStubPoolSize="100000"
        NoBuffStubPoolSize="100000"
        MaxMessageDataLength="5012000"
        SegmentSize="5120"
        NamedPipeBuffStubPoolSize="1000"/>
      <KJFramework.Net.Transaction TransactionTimeout="00:00:30" TransactionCheckInterval="30" />
      --><!--
      KJFramework.Data.Synchronization 配置节， 提供了相关的基础配置
          #TranTimeout: 事务超时时间
          #TranChkInterval: 事务检查时间间隔
      --><!--
      <KJFramework.Data.Synchronization TranTimeout="00:00:30" TranChkInterval="25000"/>
    </KJFramework>
  </CustomerConfig>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <legacyUnhandledExceptionPolicy enabled="true"/>
  </runtime>
</configuration>-->