<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="CustomerConfig" type="KJFramework.Configurations.CustomerConfig, KJFramework"/>
  </configSections>
  <appSettings>
    <add key="Port" value="6611"/>
    <add key="Name" value="RRCS"/>
    <add key="ServiceName" value="KJFramework.ApplicationEngine.RRCS"/>
    <add key="Description" value="A service that which it'll manages whole KAE business remoting adddresses."/>
    <add key="Version" value="1.0.0.0"/>
    <add key="Tracing-Level" value="0"/>
    <add key="Tracing-Provider" value="file"/>
    <add key="Tracing-Datasource" value="E:\KAE\RRCS\"/>
    <add key="CSN" value="127.0.0.1:11010"/>
  </appSettings>
  <!--此配置节暂时用于CSN的数据库配置组件来使用-->
  <connectionStrings>
    <add name="CSNDB" connectionString="server=172.16.60.71;user=BCAppAccount;database=csndb;port=3306;password=31eq#!EQ;"/>
  </connectionStrings>
  <CustomerConfig>
    <Service>
      <Infomation Name="RRCS" ServiceName="KJFramework.ApplicationEngine.RRCS" Description="A service that which it'll manages whole KAE business remoting adddresses." Version="1.0.0.0"/>
    </Service>
    <Logger>
      <ConfigurationSettings LogPath="E:\KAE\RRCS\"/>
    </Logger>
    <System>
      <!--系统编码器-->
      <Encoder Id="Default" Num="65001"/>
    </System>
    <KJFramework>
      <!--KJFramework 网络层配置文件，提供了相关的基础配置，请不要擅自修改。-->
      <KJFramework.Net
          BufferSize="10240"
          BufferPoolSize="4096"
          MessageHeaderLength="80"
          MessageHeaderFlag="#KJMS"
          MessageHeaderFlagLength="5"
          MessageHeaderEndFlag="€"
          MessageHeaderEndFlagLength="1"
          MessageDealerFolder="D:Dealers"
          MessageHookFolder="D:Hooks"
          SpyFolder="D:Spys"
          BasicSessionStringTemplate="BASE-KEY:{USERID:{0}}-TIME:{1}"
          UserHreatCheckTimeSpan="10000"
          UserHreatTimeout="15000"
          UserHreatAlertCount="3"
          FSHreatCheckTimeSpan="10000"
          FSHreatTimeout="15000"
          FSHreatAlertCount="3"
          SessionExpireCheckTimeSpan="5000"
          DefaultConnectionPoolConnectCount="1024"
          PredominantCpuUsage="10"
          PredominantMemoryUsage="150"
          DefaultChannelGroupLayer="3"
          DefaultDecleardSize="20"/>
      <KJFramework.Net.Channels
        RecvBufferSize="20480"
        BuffStubPoolSize="1000"
        NoBuffStubPoolSize="100000"
        MaxMessageDataLength="19456000"
        SegmentSize="5120"
        SegmentBuffer="10240000"
        NamedPipeBuffStubPoolSize="1000"/>
      <KJFramework.Net.Transaction TransactionTimeout="00:00:30" TransactionCheckInterval="30" />
      <KJFramework.Data.Synchronization TranTimeout="00:00:30" TranChkInterval="25000"/>
    </KJFramework>
  </CustomerConfig>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
