<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="CustomerConfig" type="KJFramework.Configurations.CustomerConfig, KJFramework"/>
  </configSections>
  <CustomerConfig>
    <KJFramework>
      <!--
      KJFramework.ServiceModel配置节， 提供了相关的基础配置
          #RecvBufferSize: 传输通道缓冲区大小
          #BuffStubPoolSize: 底层SocketAsyncEventArgs缓存个数(此类型缓存将会持有内存缓冲区 F-R)
          #NoBuffStubPoolSize: 底层SocketAsyncEventArgs缓存个数(F-A/W)
          #MaxMessageDataLength: 最大消息包长度, 如果超过此长度则进行分包处理
          #SegmentSize: 内部缓冲区片段大小，如果接受的数据大于此值，则会使用多片段来接收
          #SegmentBuffer: 内部缓冲区总长度
      -->
      <KJFramework.Net.Channels 
        RecvBufferSize="4096"
        BuffStubPoolSize="200000"
        NoBuffStubPoolSize="200000"
        MaxMessageDataLength="5120"
        SegmentSize="4096"
        SegmentBuffer="1073741824"/>
    </KJFramework>
  </CustomerConfig>
</configuration>