<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="CustomerConfig" type="KJFramework.Configurations.CustomerConfig, KJFramework"/>
  </configSections>
  <CustomerConfig>
    <Tracing>
      <TracingItem Level="0" Provider="file" Datasource="D:\Logs\KJFramework-Message-BaseLayer\" ></TracingItem>
    </Tracing>
    <System>
      <!--系统编码器-->
      <Encoder Id="Default" Num="65001"/>
    </System>
  </CustomerConfig>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <runtime>
     <gcServer enable="true"/>
    <legacyUnhandledExceptionPolicy enabled="true"/>
  </runtime>
</configuration>
