<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Tracing-Level" value="0"/>
    <add key="Tracing-Provider" value="file"/>
    <add key="Tracing-Datasource" value="D:\Logs\KJFramework.Message.Test\"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <runtime>
     <gcServer enable="true"/>
    <legacyUnhandledExceptionPolicy enabled="true"/>
  </runtime>
</configuration>
