<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Name" value="消息分发服务"/>
    <add key="ServiceName" value="KAEWroker"/>
    <add key="Description" value="xxxx"/>
    <add key="Version" value="1.0.0.0"/>
    <add key="Environment" value="Dev"/>
    <add key="CSN" value="127.0.0.1:11010"/>
    <add key="CSN-Publisher" value="127.0.0.1:11111"/>
    <add key="Tracing-Level" value="0"/>
    <add key="Tracing-Provider" value="file"/>
    <add key="Tracing-Datasource" value="E:\Logs\KAEWroker\"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <legacyUnhandledExceptionPolicy enabled="true"/>
  </runtime>
</configuration>